PJUPI_DB_BACKEND=mongodb
PJUPI_MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?appName=pjupi
PJUPI_MONGODB_DB=pjupi
PJUPI_SQLITE_URL=sqlite:database.db
PJUPI_RENIEC_API_BASE_URL=https://api.decolecta.com/v1
PJUPI_RENIEC_TOKEN=
PJUPI_PURE_API_BASE_URL=https://pure.unf.edu.pe/ws/api
PJUPI_PURE_API_KEY=